services:
  icecast:
    image: moul/icecast
    container_name: church-icecast
    ports:
      - "8001:8000"
    env_file:
      - .env.docker
    volumes:
      - icecast-logs:/var/log/icecast2
    restart: unless-stopped

volumes:
  icecast-logs:
