@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rich text editor paragraph spacing */
.prose p {
  margin-bottom: 1rem;
}
.prose p:last-child {
  margin-bottom: 0;
}
